@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@page

@model Employee

@{
  
}


<form method="post" formaction="/Create">

    FirstName :<input type="text" name="firstName" /><br />
    LastName :<input type="text" name="lastName" /><br />
    City :<input type="text" name="city" /><br />
    ZIP : <input type="text" name="zip" /><br />
    <input type="submit">
</form>