@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@page
@model List<EmployeeManagement.Models.Employee>
@{

}

<b>Employee List</b>

@foreach (var employee in Model)
{

    @Html.DisplayFor(modelItem => employee.FirstName)

}
<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Add">Add</a>
