@{
    ViewData["Title"] = "Employee Management Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        @for (int index = 0; index < 12; index++)
        {
            <div>@index </div>
        }
    </div>
</body>

</html>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


